.lbt{
  overflow: hidden;
  position: relative;

  &_border{
    display: flex;
  }

  .left{
    position: absolute;
    cursor:pointer;

    img{
      width: 30px;
      height: 30px;
    }
  }
  .right{
    position: absolute;
    right: 0px;
    cursor:pointer;

    img{
      width: 30px;
      height: 30px;
    }
  }
}
